In [15]:
import dask.dataframe as dd
from dask.distributed import Client
import time
import numpy as np
import os
import datetime as dt
import csv
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline
plt.style.use('ggplot')

In [2]:
# Data config
DATA: str = "/media/ssdraid/quentinmowat-amiet/Dropbox (IESE)/earnings_calls/Originals/Conference Calls/OLD/ccalls_from_stata.csv"  # CCALLS_copy.csv
DTYPE: dict = {'gvkey': 'int', 'new_text': 'object'}      # {'job': str, 'year': int, 'quarter': str, 'text': str, 'conm': str, 'gvkey': float}, was throwing error

In [ ]:
JOB: str = "CEO"

In [3]:
# Import earnings calls as dask dataframe
ddf = dd.read_csv(DATA, dtype = DTYPE)

# Subset ddf for questions from media
# df = ddf[ddf['job'] == JOB].compute().reset_index(drop = True)

# Obtain array of questions from text column
# questions = df['text'].values

In [ ]:
# # Q and A
# "\nQUESTIONS AND ANSWERS\n"
# ddf['q_and_a_count'] = ddf['text'].str.count('\nQUESTIONS AND ANSWERS\n')
# q_and_a_count = ddf['q_and_a_count'].compute().value_counts().to_frame().reset_index()
# q_and_a_count

In [37]:
for i in ddf.columns:
    print(i)

name
company
job
year
quarter
text
document
year_in_file
year_f
year_final
counter
mea
merger
acquisition
_merge
conm
gvkey
question_intext
analyst
new_text

In [22]:
def get_counts(ddf: dd) -> pd.DataFrame:
    """Get dictionary of unqiue counts for each column in dask.dataframe"""
    return {column: ddf[column].compute().value_counts().to_frame().reset_index() for column in ddf.columns}

In [23]:
# Dictionary of dataframes of unique values in dask.dataframe
count_dict = get_counts(ddf)

In [36]:
count_dict['job'].head(20)

                  job   count
0             ANALYST  863768
1                 CFO   53912
2                 CEO   21779
3    RESEARCH ANALYST   14174
4                  IR   14134
5   PRESIDENT AND CEO   13098
6       PRESIDENT;CEO   12394
7     PRESIDENT & CEO   11699
8                  MD    8050
9        CHAIRMAN;CEO    7620
10   CHAIRMAN AND CEO    7593
11     CHAIRMAN & CEO    6984
12     SENIOR ANALYST    6912
13     EQUITY ANALYST    6706
14                COO    6206
15           VP OF IR    6057
16          PRESIDENT    5628
17                 VP    5463
18          ASSOCIATE    5206
19            EVP;CFO    5171